<div class="navbar navbar-expand-lg navbar-dark menuMainColor menuFontColor">
  <div class="container">
    <a href="" class="navbar-brand">Movie App</a>
    <ul class="navbar-nav mr-auto">
      <li class="navbar-nav">
        <a href="" class="nav-link active">Home</a>
      </li>
      <li class="navbar-nav">
        <a href="" class="nav-link active">Movies</a>
      </li>
      <li class="navbar-nav">
        <a href="" class="nav-link active">Categories</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="navbar-nav">
        <a href="" class="nav-link active">Home</a>
      </li>
    </ul>
  </div>
</div>
